VS.bat
build/
PrimarySources/41586_2010_BFnature08973_MOESM239_ESM.pdb
src/CMakeFiles/
Results/yeast.sqlite
Results/yeast.sqlite-journal
.Rproj.user
r/.RData
r/.Rhistory
PrimarySources/SelectedHistonesPromoter.csv
Results/SelectedHistonesPromoter-Patched.csv
r/chapters/_main.Rmd
r/chapters/_main.tex
Results/pValues.PromoterFields.tsv
PrimarySources/Conservation.csv
PrimarySources/TranscriptionFactorMotifs.csv
Results/CoexPacked.bin
r/chapters/00_Summary.docx
~$ePageSummary.docx
PrimarySources/GeneDuplication.csv
r/Final.docx
r/chapters/00_Summary.html
r/chapters/01_GenePositions-RoughFeatures.html
r/chapters/02_HistonesPreprocessing.html
r/chapters/03_HistoneDistanceMaps.html
r/chapters/04_Communities.html
r/chapters/05_PromoterFields.html
r/chapters/06_MotifFields.html
r/chapters/07_CoexFields.html
r/chapters/08_FieldOverlap.html
r/chapters/09_Technical.html
r/chapters/index.nb.html
PrimarySources/ReplicationTiming.csv
PrimarySources/tmp.db
